<div class="container">
  <div class="jumbotron text-center">
    <h1>Hi!</h1>
    <p class="lead">
      <img src="assets/images/whitbread.png" alt="Whitbread"><br>
      Welcome to my tech test.
    </p>
    <p class="animated infinite" ng-class="main.classAnimation">
      <button type="button" class="btn btn-lg btn-success" ng-click="main.goToVenues()">Go to Venues</button>
    </p>
    <p>
      <acme-malarkey></acme-malarkey>
    </p>
  </div>
  <div class="row">
    <h1 class="text-center">Techs used in this test</h1>
    <div class="col-sm-6 col-md-4" ng-repeat="techStack in main.techStacks | orderBy:'rank'">
      <div class="thumbnail">
        <img class="pull-right" ng-src="assets/images/{{ techStack.logo }}" alt="{{ techStack.title }}">
        <div class="caption">
          <h3>{{ techStack.title }}</h3>
          <p>{{ techStack.description }}</p>
          <p><a ng-href="{{techStack.url}}">{{ techStack.url }}</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
